//Website Colors
$color-red : #b50000;
$color-darkgrey : #474747;
$color-lightgrey : #A3A3A3;
$color-white: #F4F4F9;

//==================================================
//Banner with HomePage Title
//==================================================
.homeHeaderPrimary {
    font-size: 3rem;
    font-weight: bold;
    background-color: $color-white;
    color: $color-darkgrey;
    padding: 10px 50px;
}

.homeHeaderSecondary {
    font-size: 3rem;
    font-weight: bold;
    background-color: $color-red;
    color: $color-white;
    padding: 10px 25px;
}

.homeBackgroundImage {
    background-image: url('../../assets/img/hero.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 70px;
}

//==================================================
//Search Box
//==================================================
.searchBoxContainer {
    margin: 20px auto;
    width: 500px;
}

.searchBox {
    padding: 0px 40px;
    height: 2.5rem;
    font-size: 1.25rem;
    width: 350px;
    margin: auto;
}

.fas {
    position: relative;
    left: 30px;
}

.searchButton {
    font-weight: bold;
    font-size: 1rem;
    height: 39px;
    width: 100px;
    margin: 0px 10px;
    position: relative;
    top: -3px;
    color: $color-white;
    background-color: $color-red;
    border-radius: 3px;
}

.searchBoxLoader {
    margin: 40px auto;
    width: 100%;
    position: relative;
    left: 50%;
}

.searchError {
    width: 350px;
    padding: 2px 1px;
    position: relative;
    left: 14px;
    color: $color-red;
    background-color: #ffc6c6;
    border: 1px solid #ffc6c6;
}

.sneakersContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}