/*========================================*/
//General Component
/*========================================*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

//Website Colors
$color-red : #b50000;
$color-darkgrey : #474747;
$color-lightgrey : #A3A3A3;
$color-white: #F4F4F9;

//navbar
.navbar-item a {
    color: $color-darkgrey;
    font-size: 18px;
}


/*========================================*/
//Login/Signup Component
/*========================================*/
.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    width: 500px;
    margin: auto;
}

.form-container h2 {
    font-size: 2em;
    font-weight: bold;
    color: $color-red;
    margin-bottom: 35px;
}

.form-logo {
    margin-bottom: 25px;
}

.form-redirect {
    color: $color-red;
    font-weight: bold;
}

.form-area {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.form-area p {
    font-size: 16px;
    width: 40%;
}

.form-button {
    color: $color-white;
    font-weight: bold;
    width: 120px;
    font-size: 24px;
    padding: 15px 15px;
    border-radius: 18px;
    border: 1px solid $color-red;
    background-color: $color-red;
}

.signup-button {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.input {
    border: 3px solid $color-darkgrey;
    color: $color-darkgrey;
    margin-bottom: -5px;
}

.input.is-rounded {
    padding-left: 50px;
}


.input::placeholder {
    color: $color-lightgrey;
}

.icon {
    top: 29px;
    left: -5px;
    position: relative;
    font-size: 20px;
}

form {
    width: 344px;
}

label.radio {
    padding-right: 10px;
    font-size: 20px;
}
input[type=radio] {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

input[type=checkbox] {
    margin-right: 5px;
    margin-bottom: 10px;
}


/*========================================*/
//Wishlist Component
/*========================================*/
.wishlist-user {
    font-size: 24px;
    font-weight: bold;
    color: $color-darkgrey;
}